#login-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 0.25fr);
  place-content: start;
  gap: 1rem;
  padding-top: 2rem;
}
#login-form {
  display: grid;
  gap: 1rem;
  width: 300px;
  height: 200px;
}
#login-form input {
  box-shadow: 2px 3px 4px 2px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}
#login-label {
  display: grid;
  place-content: start;
  font-size: 50px;
  /* position: relative; */
  /* bottom: 60px; */
  font-weight: 900;
}
#login-label span {
  font-size: 20px;
}
